.pro-cont {
  display: flex;
  flex-direction: column;
}

.pro-img {
   margin-top: 20px;
   margin-left: 20px;
}

.avatar {
    border-radius: 50% !important;
  width: 70px !important;
  height: 70px !important;
}

.pro-det {
  width: 70%;
}

.pro-name {
    font-size: 18px;
    font-weight: bold;
}

.pro-bio {
    font-size: 14px;
}