@import "../../index.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.header {
  position: sticky; /*To make it sticky on scroll */
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid var(--clr-header-border-bottom);
  padding: 10px 0px;
  width: 100%;
  height: 80px;
  align-items: center;
  z-index: 999;
  font-family: "Poppins";
  background-color: white;
}

.header__left {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 40%;
  left: 0;
}

.header__left img {
  object-fit: contain;
  height: 40px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  /* margin-left: 30px; */
  width: 60%;
  color: var(--clr-input-searchdiv);
  background-color: var(--clr-input-searchdiv-bg);
}

.header__search input {
  outline: none;
  border: none;
  background: none;
}

.header__right {
  display: flex;
}

.hamburger__menu {
  width: 25px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background: #838996;
  border-radius: 3px;
}

.hamburger__menu:hover > div {
  background: var(--clr-stats-top-sidebar-color);
}

@media screen and (max-width: 1030px) {
  .header {
    padding: 0px 0px;
  }
  .header__right {
    display: none;
  }
  .header__left {
    position: relative;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  .header__search {
    width: 60%;
    margin-left: 0;
  }
  .hamburger__menu {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .header__right {
    display: none;
  }
  .header__search {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .header__left {
    display: grid;
    /* width: 40%; */
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    width: 80%;
    justify-items: center;
  }
  .header {
    height: 100px;
  }
  .header__search {
    padding: 5px;
    height: 20px;
    width: 95%;
    grid-column: 1 / 3;
  }
  .icon {
    grid-column: 1;
    grid-row: 1;
    padding-left: 10%;
    justify-self: start;
  }
  .hamburger__menu {
    display: flex;
    grid-column: 2;
    grid-row: 1;
  }
}

/* @media screen and (max-width: 425px) {
  .header__left {
     display: grid;
     width: 40%; 
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;  
    width: 80%;
  }
  .header {
    height: 100px;
  }
  .header__search {
    padding: 5px;
    height: 20px;
    width: 95%;
    grid-column: 1 / 3;
    
  }
  .icon {
    grid-column: 1;
    grid-row: 1;
    padding-left: 10%;
  }
  .onHamburgericon__click {
    grid-column: 2;
    grid-row: 1;
    justify-content: left; 
  }
}  */
