@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200;300&display=swap");

@import "../index.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--clr-body-bg);
  /* overflow: hidden; */
}

.container {
  max-width: 440px;
  padding: 0 20px;
  margin-top: 110px;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width: 100%;
  background: var(--clr-wcontent-center);
  border-radius: 5px;
}

.wrapper .title {
  line-height: 90px;
  background: var(--clr-signup-bg);
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  color: var(--clr-signup-c);
  font-size: 25px;
  font-weight: 600;
}

.wrapper form {
  padding: 30px 25px 25px 25px;
}

.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

form .row input:focus {
  border-color: var(--clr-inputs-border-color);
  box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
  transition: all 0.3s ease;
}

.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  font-size: 18px;
  color: var(--clr-icon-color);
  background: var(--clr-icon-bg);
  border: 1px solid var(--clr-icon-border);
  border-radius: 5px 0px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .pass {
  margin: -8px 0px 20px 0px;
  font-size: 13px;
}

.wrapper form .pass p a {
  color: var(--clr-agreeterms-color);
  /* font-size: 17px; */
  text-decoration: none;
}

.wrapper form .pass p a:hover {
  text-decoration: underline;
}
.wrapper form .button input {
  padding-left: 0px;
  font-size: 20px;
  font-weight: 500px;
  color: var(--clr-AgreeJoinbtn-color);
  background: var(--clr-AgreeJoinbtn-bg);
  border: 1px solid var(--clr-AgreeJoinbtn-border);
  cursor: pointer;
}

form .button input:hover {
  background: var(--clr-AgreeJoinhover-bg);
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}

.wrapper form .signup-link a {
  color: var(--clr-joinnow-color);
  text-decoration: none;
}

.wrapper form .signup-link a:hover {
  text-decoration: underline;
}
