
.card_basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: fit-content;
    align-items: center;
    background-color: #CCCCCC;
    color: black;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 10px;
}

.top_head {
    font-weight: bold;
}