.chat-cont {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  padding: 16px;
}

.avatar-2 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.chat-name {
  font-size: 14px;
  margin-left: 15px;
  font-weight: bold;
}

.chat-msg {
  font-size: 14px;
  margin-left: 15px;
}

.name-date {
    font-weight: normal;
    font-size: 12px;
}

@media screen and (max-width: 920px) {
  .chat-cont{
    padding: 8px;
  }  
}